<!DOCTYPE html>
<html>
<head>
  <title>Hyper kitten meow</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyper/kitten/meow/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
