- if model.errors.any?
  .alert.alert-danger
    %h5
      = pluralize(model.errors.count, "error")
      prohibited this record from being saved:
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg
