name: hyper-kitten-meow

services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: hyper
      POSTGRES_PASSWORD: kitten
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    depends_on:
      - db
    build:
      context: ../
      dockerfile: .devbox/Dockerfile
    environment:
      APP_DB_HOST: db
      APP_DB_USERNAME: hyper
      APP_DB_PASSWORD: kitten
    ports:
      - '3000:3000'
    volumes:
      - '../:/app'

volumes:
  pgdata:
