%section.tags
  .d-flex.justify-content-between
    %h2 New Tag
    .action
      = link_to "Back to Tags", hyper_kitten_meow.admin_tags_path, class: "btn btn-secondary"
  = simple_form_for @tag, url: admin_tags_path, method: :post do |f|
    = f.input :label
    = f.submit nil, class: "btn btn-primary"
